.moviePic{
	height: 300px;
	width: 500px;
	opacity: 1;
	border-radius: 8px;
	margin-top: 40px;
	box-shadow: 0px 10px 20px rgba(255,255,255,0.2);
}
.movieDetail{
	position: absolute;
	top: 50%;
	width: 60%;
	left: 20%;
	text-align: center;
	font-size: 20px;
	background-color: #222;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0px 5px 15px rgba(255,255,255,0.1);
}